@media only screen and (min-width: 768px) {
    /* For desktop: */


    /*hide in desktop*/
    .mobile{
    display: none;

    }
    h1{
        color:#FFF;        
        font-family: "Tilt Warp", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "XROT" 0,
          "YROT" 0;
        font-size: 40px;
    }

    h1#projects-title{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #about-page{
        padding-top: 180px;
        margin: auto;
        width: 55%;
        padding-bottom: 50px;
        max-width: 1000px;
    }
    nav{
        position:absolute;
        padding: 40px;
        right: 50px;
    }
    a{
        color:#FFF;
        font-family: "Tilt Warp", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "XROT" 0,
          "YROT" 0;
        font-size: x-large;
        padding: 15px;
    }
        #text-side
    {
        color:#FFF;
        font-family: "Alegreya", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        padding-top: 10%;
        padding-right: 10%;

    }
    #content{
        padding-top: 100px;
        padding-left: 10%;
        min-width: 1400px; 
    }
    #logo
    {
        position: relative;
        z-index: 1;
        top: 25px;
    }
    #hamburger{
        display: none;
    }

    #nav-content{
        display: flex;
        min-width: 1400px;
        margin-left: 10%;
         
    }
    #carousel-Images{
        width: 1000px;
    }

    #text-side{
        min-width: 30%;
        max-width: 50%
    }

    .image-card{
        width: calc(33% - 20px);
    }
    
    .image-card-medium{
        width: calc(50% - 20px);
    }

    .image-card-large{
        width: calc(66% - 20px);
    }

  }
  body{
    background-color: #1e1e1e;
    
}

.carousel{
    overflow: hidden;
    background-size: cover;
       
}

.title{
    padding: 15px;
}


nav{
    display: none;
}
p{
    color:#FFF;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

#contact-details{
    padding-top: 10%;
    margin: 15px;
    min-width: 50%;
}

.flexbox
{
    display: flex;
    flex-wrap: wrap;

}
/* for Portofolio pages /////////////////////////////////////////////////////////////////////////////////*/
/* Path */
.path {
    position: absolute;
    width: 618px;
    height: 826px;
    left: 1011px;
    top: 158px;
    z-index: -2;
  }

  #about-page{
    padding-top: 90px;
    margin: auto;
    width: 85%;
    padding-bottom: 10px;
}

h1#projects-title{
    font-size: 36px;
}
/* nav in projects pages ////////////////////////////////////////////////////*/
.nav-portfolio{
    margin-top: 100px;
    min-width: 90%;
    background-color: #0c0c0c;
}

.portfolio-nav-pos{
    display: flex;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

#nav-button-content{
    font-family: "Tilt Warp", sans-serif;
    font-weight: 0;
    font-size: x-large;
    color: #fff;
    background-color: #2f5546;
    padding: 10px 30px;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    transition : 0ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 7px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#nav-button-content:hover{
background-color: #69de90;
color: #0066cc;
border: none;
}


/* //////////////////////////////////////////////////////////////////////////////// */

.image-content{
    max-width: 1800px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: calc(1500px - vh100);
}

.image-card-large{
    padding: 10px;
}

.image-card-medium{
    padding: 10px;
}

.image-card{
    padding: 10px;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////// */
h2{
    color:#FFF;
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
    font-size: 40;
}


#nav-area{
    background-color:#69de90;
    position: absolute;
    top:0px;
    width: 100%;
    left:0px;
    height: 100px;
    display: flex;

}

footer{
    background-color: #0c0c0c;
}

/*mobile*/
  @media only screen and (max-width: 768px) {

/*for hiding desktop*/
.desktop{
    display: none;

}
#nav-content{
    display: flex;
}

h1{
    font-size: medium;
}

.path{
    display: none;
}

#hamburger{
    position: absolute;
    padding: 10px;
    top: 15px;
    right: 10px;
    z-index: 1;
    background-color: #FFFfff00;
    border: none;
    box-shadow: none;
}

.active {
    background-color: #69de90;
    color: white;
  }

  #nav-area{
    height: 70px;
  }

  /* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    z-index: -.5;

  }
    
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

#image-side{
    z-index: -1;
    position: relative;
    top:80px;
    left: 0px;
    
}

#logo{
    z-index: 1;
    padding: 10px;
    margin-right: 100px;
    width: 85px;
    height: 85px;
    
}

#about{
    padding: 15px;
}
#text-side{
    position: fixed;
    top:400px;
    left: 0px;
    display: block;
    color:#FFF;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 10%;
}


#carousel-Images{
    width: 100%;
}

.title{
    padding: 15px;
    font-size: 30px;
    position: absolute;
    left:80px

}

.flexbox{
    flex-direction: column;
}

.image-card{
    width: 100%;

}
.image-card-large{
    width: 100%;
}

.image-card-medium{
    width: 100%;
}
  }
h1{
    color:#FFF;
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
    font-size: 50px;
    
}

#btn-link:link { 
    text-decoration: none; 
} 
#btn-link:visited { 
    text-decoration: none; 
} 
#btn-link:hover { 
    text-decoration: none; 
} 
#btn-link:active { 
    text-decoration: none; 
}
  

#btn-link{
    color:#FFF;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding: 0px;
}

.btn{
font-family: "Tilt Warp", sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #2f5546;
padding: 10px 30px;
border: none;
box-shadow: none;
border-radius: 10px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.btn:hover{
transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #69de90;
color: #0066cc;
border: none;
}
@media only screen and (max-width: 1400px) {
    /*for tablets and other smaller screens*/
    nav{
        position: absolute;
        padding: 40px;
        display: none;
        right: 10%;
    }
  }


