@media only screen and (min-width: 768px) {
    /* For desktop: */

    #nav-area{
        background-color:#69de90;
        position: absolute;
        top:0px;
        width: 100%;
        left:0px;
        height: 100px;
        display: flex;

    }
    /*hide in desktop*/
    .mobile{
    display: none;

    }
    h1{
        color:#FFF;
        font-family: Til;
        font-family: "Tilt Warp", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "XROT" 0,
          "YROT" 0;
        font-size: 40px;
        
    }
    nav{
    
        position: absolute;
        padding: 40px;
        
        right: 10%;
        
    }
    a{
        color:#FFF;
        font-family: Til;
        font-family: "Tilt Warp", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "XROT" 0,
          "YROT" 0;
        font-size: x-large;
        padding: 15px;
    }
        #text-side
    {
        color:#FFF;
        font-family: "Alegreya", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        padding-top: 10%;
        padding-right: 10%;

    }
        #content
    {
        padding-top: 100px;
        padding-left: 10%;
        min-width: 1400px; 


    }

    #logo
    {
        position: relative;
        z-index: 1;
        top: 25px;
    }
    #hamburger{
        display: none;
    }

    #nav-content{
        display: flex;
        min-width: 1400px;
        margin-left: 10%;
        
    }

    #image-side{
        max-height: 800px;
    }
    #text-side{
        min-width: 30%;
        max-width: 50%
    }
    #carousel-Images
    {
        min-width:60%;
    }

  }
  body{
    background-color: #1e1e1e;
    
}
p{
    color:#FFF;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large
}

#contact-details{
    padding-top: 10%;
    margin: 15px;
    min-width: 50%;
}

.flexbox
{
    display: flex;
    flex-direction: row;

    
}

h2{
    color:#FFF;
    font-family: Til;
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
    font-size: 40;
}
/*mobile*/
  @media only screen and (max-width: 768px) {

/*for hiding desktop*/
.desktop{
    display: none;

}
#nav-content{
    display: flex;
}

#hamburger{
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.active {
    background-color: #69de90;
    color: white;
  }

  /* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    left: 0px;
    top:80px;
    width: 100%;
    z-index: -.5;

  }
    
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

#image-side{
    z-index: -1;
    position: fixed;
    top:0px;
    left: 0px;
    
}

#logo{
    z-index: 1;
    padding: 10px;
    margin-right: 100px;
    width: 80px;
}

#about{
    padding: 15px;
}
#text-side{
    position: fixed;
    top:400px;
    left: 0px;
    display: block;
    color:#FFF;
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 10%
}
#carousel-Images{
    width: 100%;
}

#title-mobile{
    background-color:#69de90;
    position: absolute;
    top:300px;
    width: 100%;
    left:0px;
    height: 60px;

}
#content{
   
}
  }
h1{
    color:#FFF;
    font-family: Til;
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
    font-size: 50px;
    
}





.btn{
font-family: Til;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #2f5546;
padding: 10px 30px;
border: none;
box-shadow: none;
border-radius: 10px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.btn:hover{
transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #69de90;
color: #0066cc;
border: none;

}



@media only screen and (max-width: 1400px) {
    /*for tablets and other smaller screens*/
    nav{
    
        position: absolute;
        padding: 40px;
        display: hide;
        right: 10%;
        
    }


  }