/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

section {
    padding: 20px 0;
    border-bottom: 1px #e4e4e4 solid;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#web-architecture{
    grid-area: "#item1","#item1", "#item1"
                "#item2", "#item2", "#item2"
    ;
}

section#web-protocols{
    border-left: 20px;
    
}

article#protocols{
    padding: 10px;
}

#web-concepts{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (min-width: 600px){
    #colume1{
        float:left;
        padding: 20px;
        width:45%;

        background-color: #fff;
    
    }

    #colume2{
        float:left;
        padding: 20px;
        width:45%;
        background-color: #fff;
    }
}
@media only screen and (max-width: 600px){
    #colume1{

        min-width:100%;

     
    }
    
    #colume2{
        width:100%;
    }
}

table#internet-vs-web{
    border:10px;
    padding:20px;
    background-color: #fff;
}

#server-differnces{
    border:10px;
    padding:20px;
    border-bottom: 1px #e4e4e4 solid;
    
}
tr{
    background-color: #c2c2c2;
}

aside{
    background-color: #c2c2c2;
    border: #333 2px;
}