/* logos and socials */


#logo {
    position: relative;
    z-index: 1;
    top: 25px;
}

#social{
    z-index: 1;
    position: relative;
    height: 60px;
    width: 60px;
    margin :10px;

}

.fullsize-img{
    width:100%;
    height:auto;
    object-fit: cover;
}


/* General Styles */
body {
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
}



a{
    color:#FFF;
    font-family: "Tilt Warp", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
    font-size: x-large;
    padding: 15px;
}

.title, h1, h2, p {
    color: #fff;
    font-family: "Tilt Warp", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    padding: 25px;
    font-size: 50px;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-family: "Tilt Warp", sans-serif;
    font-weight: 400;
    color: #858585;
}

p {
    font-family: "Alegreya", serif;
    font-size: large;
}

.center-flex{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    flex-wrap: wrap;
    padding: 50px;
}

/* Navigation */
.main-nav {
    display: none;
}

#nav-area{
    background-color:#69de90;
    width: 100%;
    height: 100px;
    display: flex;

}

#hamburger{
    position: absolute;
    padding: 10px;
    top: 15px;
    right: 10px;
    z-index: 1;
    background-color: #FFFfff00;
    border: none;
    box-shadow: none;
}

/* footer */
footer{
    margin-top: 70px;
    background-color: #0c0c0c;
    position: relative;
    bottom: 0px;
    
}

.footer-nav{
    
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.text-logo
{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}


#logo-footer{
    padding: 15px;
    width: 100px;
    height: 100px;
}

/* Button */

#button-link{
    padding: 0px;
    text-decoration: none;
    font-size: large;
}

#btn-link:link { 
    text-decoration: none; 
} 
#btn-link:visited { 
    text-decoration: none; 
} 
#btn-link:hover { 
    text-decoration: none; 
} 
#btn-link:active { 
    text-decoration: none; 
}
  
#btn-link{
    color:#FFF;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    padding: 0px;
}

.btn{
font-family: "Tilt Warp", sans-serif;
font-size: 14px;
color: #fff;
background-color: #2f5546;
padding: 10px 30px;
border: none;
box-shadow: none;
border-radius: 10px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.btn:hover{
transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #69de90;
color: #0066cc;
border: none;
}

/* Path */
.path {
    position: absolute;
    width: 40vw;
    height: 826px;
    left: 40%;
    top: 150px;
    z-index: -2;
}

/* Flexbox */
.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.two-sided-flex{
    display: flex;
}
/* Contact Details */
#contact-details {
    padding-top: 15vh;
    margin: 15px;
    min-width: 50%;
}

#contact-text{
    margin: 15px;
    padding-top: 15vh;
    padding-right: 10%;
    min-width: 30%;
}

/* Carousel =========================================================*/

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-item {
    display: none;
    text-align: center;
}
.carousel-item.active {
    display: block;
}
.carousel-indicators {
    text-align: center;
    margin-top: 10px;
}
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color:  #717171;
    border-radius: 50%;
    cursor: pointer;
}
.dot.active {
    background-color: #bbb;
}


/* Portfolio Page Styles ===============================================================================*/
#about-page {
    padding-top: 90px;
    margin: auto;
    width: 85%;
    padding-bottom: 40px;
}

#projects-title {
    font-size: 36px;
}


#trad, #threeD, #sketches, #digital ,#websites ,#games{
    display: none;
}

.card-content, .card-content-large, .card-content-medium{
    width: calc(100%);
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.split-align{
    width: 50%;
}

.card-extension{
    display: none;
    margin: 25px;
    max-width: 1600px;
    width: calc(100% - 50px);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

.image-center{
    margin:0 auto 40px auto ;
    width: calc(75% - 50px);
    max-width: 1000px;
    height: auto;
    box-sizing: border-box;

}

.green-header{
    background-color:#2f5546;

    width: 100%;
}

.center-align{
    display: flex;
    justify-content: center;
    margin:0 auto 20px auto ;
}

.max-800{
    max-width: 700px;
}

.card-text{
    display: none;
    width: calc(40% - 50px);
    margin: 25px;
    margin-right: 10%;
    padding-top: 50px;
}

.card-titles{
    z-index: 1;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%; /* Match image width */
    height: 100%; /* Match image height */
    background-color: #0c0c0c71;
    transition: opacity 0.4s;
    opacity: 0;
    padding: 25px;
    padding-top: 0px;
    transition: padding-top 0.4s;
    box-sizing: border-box;
}

.card-main-image
{
    object-fit: cover;
    transition: transfrom 0.2s ease-in-out;
}

.Image-inner-card{
    width:100%;
    overflow: hidden;
    margin-top: 15px;
    display: none;
    flex-wrap: wrap;
    
}

.Image-card-element{
    margin-bottom: 30px;
}


/* Navigation in Portfolio Pages */
.nav-portfolio {
    min-width: 90%;
    background-color: #0c0c0c;
    margin-bottom: 15px;
}

.portfolio-nav-pos {
    display: flex;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}


#nav-button-content {
    font-family: "Tilt Warp", sans-serif;
    font-size: x-large;
    color: #fff;
    background-color: #2f5546;
    padding: 10px 30px;
    border: none;
    border-radius: 0px;
    transition: 0ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 20px 7px;
}

#nav-button-content:hover {
    background-color: #69de90;
    color: #0066cc;
}

.back-button{
    display: none;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    background-color: #0c0c0c;
    border: none;
    box-shadow: none;
    color:#fff;
    border-radius: 15px;
}

/* Image Content */
.image-content {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
    min-height: calc(1500px - 20vh);
}

.image-card, .image-card-medium, .image-card-large {
    margin: 10px;
    width: 100%;
    position: relative;
    display: inline-block;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    /* Mobile */
    .desktop {
        display: none;
    }

    .path {
        display: none;
    }

    #nav-area {
        height: 70px;
    }

    .card-extension{
        display: none;
        margin: 20px;
    }

    .topnav {
        background-color: #2f5546;
        width: 100vw;
        z-index: 1;
        margin-top: 70px;
        height: 300px;
        position: relative;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 32px;
        display: block;
        text-align: right;
        padding-top:0px ;
        padding-bottom: 0px;        
    }

    a{
        font-size: medium;
    }

    H1{
        font-size:40px;
    }

    .active {
        background-color: #69de90;
    }

    #logo{
        z-index: 2;
        margin: 10px;
        margin-right: 100px;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 10px;
        left: 10px;
        
    }

    #logo-footer{
        width: 80px;
        height: 80px;
    }

    #image-side {
        width: 100%;
        height: 400px;
        z-index: -1;
    }

    #text-side {
        margin: auto;
        width: 85%
    }

    #home-image{
        margin: auto;
        padding-top: 40px;
        width: 85%;
        height: 400px;
        padding-bottom: 40px;
    }
    #center
    {
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        position: absolute;
        padding: 10px;
        left: 95px;
        font-size: 42px;
   
    }

    .card-text{
        width: calc(100%);
        margin: 25px;
        padding-top: 10px;
    }

    .Image-inner-card{
        width:100%;
    }

    .card-content{
        flex-wrap: wrap;
        width: 100%;
    }

    .image-card, .image-card-medium, .image-card-large {
        width: 100%;
    }

    .two-sided-flex{
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-nav{
        width: 100%;
    }

    .content{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #social{
        height: 40px;
        width: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
    /* Tablets and smaller screens */
    nav {
        position: absolute;
        padding: 40px;
        display: none;
        right: 10%;
    }
}

@media only screen and (min-width: 768px) {
    /* Desktop */
    .mobile {
        display: none;
    }

    h1 {
        font-size: 40px;
    }



    h1#projects-title {
        width: 70%;
        margin: 0 auto;
        font-size: 36px;
        padding-bottom: 30px;
    }

    #about-page {
        padding-top: 100px;
        margin: auto;
        width: 55%;
        padding-bottom: 80px;
        max-width: 1000px;
    }

    nav {
        position: absolute;
        padding: 40px;
        right: 50px;
    }

    a {
        padding: 15px;
    }

    #text-side {
        padding-top:20vh ;
        padding-right: 10%;
        min-width: 30%;
        max-width: 50%;
        align-items: center;
    }

    .content {
        padding-left: 10%;
        min-width: 1400px;
        position: relative;
        height: 85vh;
    }

    #logo {
        position: relative;
        z-index: 1;
        top: 25px;
    }

    #hamburger {
        display: none;
    }

    #nav-content {
        display: flex;
        min-width: 1400px;
        margin-left: 10%;
    }

    #contact-details {
        padding-bottom: 35vh;
    }

    #carousel-Images {
        width: 1000px;
    }

    .image-card {
        width: 100%;
    }

    .card-content{
        width: calc(33% - 20px);
    }
    
    .card-content-large{
        width: calc(66% - 20px);
    }
    .card-content-medium{
        width: calc(50% - 20px);
    }
    
}

